[submodule "batata"]
	path = batata
	url = git@github.com:ArmnellJackson/batata.git
[submodule "CloneGoogle"]
	path = CloneGoogle
	url = git@github.com:ArmnellJackson/CloneGoogle.git
[submodule "Card-FlexBox-Grid"]
	path = Card-FlexBox-Grid
	url = git@github.com:ArmnellJackson/Card-FlexBox-Grid.git
