[submodule "batata"]
	path = batata
	url = git@github.com:ArmnellJackson/batata.git
[submodule "CloneGoogle"]
	path = CloneGoogle
	url = git@github.com:ArmnellJackson/CloneGoogle.git
[submodule "Card-FlexBox-Grid"]
	path = Card-FlexBox-Grid
	url = git@github.com:ArmnellJackson/Card-FlexBox-Grid.git
[submodule "Pages-404-error"]
	path = Pages-404-error
	url = git@github.com:ArmnellJackson/Pages-404-error.git
[submodule "My-team-page"]
	path = My-team-page
	url = git@github.com:ArmnellJackson/My-team-page.git
